<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832039090252-hrqrgo7hq7v7tlu7kdr7npn2p8auirqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832039090252-hrqrgo7hq7v7tlu7kdr7npn2p8auirqt</string>
	<key>API_KEY</key>
	<string>AIzaSyCxhcot177dAVHYlKwCPxqpf8FlH_pJYtk</string>
	<key>GCM_SENDER_ID</key>
	<string>832039090252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frantic.quickk</string>
	<key>PROJECT_ID</key>
	<string>quickapp-3428b</string>
	<key>STORAGE_BUCKET</key>
	<string>quickapp-3428b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832039090252:ios:53852ebf7776a998931ce9</string>
</dict>
</plist>